.devise-container
  .devise-content
    %h1.devise-title Sign up

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "new-user js-form" }) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password, "Password (#{@minimum_password_length} characters minimum)"
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password"

      .actions
        = f.submit "Sign up", class: "submit-button"

    = render "devise/shared/links"
