.reactions{ data: { resource_id: resource.id, resource_type: resource.class.name.downcase, url: reactions_path } }
  %span.like{class: reaction_class(resource.likes), data: { type: Reaction::LIKE, toggle: "tooltip", title: who_reacted(resource.likes), html: "true" }}
    = resource.likes.size
    = render "shared/like"

  %span.smile{class: reaction_class(resource.smiles), data: { type: Reaction::SMILE, toggle: "tooltip", title: who_reacted(resource.smiles), html: "true" }}
    = resource.smiles.size
    = render "shared/smile"

  %span.heart{class: reaction_class(resource.hearts), data: { type: Reaction::HEART, toggle: "tooltip", title: who_reacted(resource.hearts), html: "true" }}
    = resource.hearts.size
    = render "shared/heart"
