= render "/partials/flashes"

.devise-container
  .devise-content
    %h1.devise-title Welcome

    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "new-user js-form" }) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "current-password"

      .actions
        = f.submit "Log in", class: "submit-button"

    = render "devise/shared/links"
